<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Starcraft - METEYER Theo</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <a href="/"> <img src="/assets/img/logo.png" alt="Oups"></img></p> </a>
            <nav>
                <a href="/"></a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
            
            <img src="/assets/img/logojp.png"  alt="Starcraft" />
        </main>
    </body>
</html>